@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root{
    --font-style: 'Nunito Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: var(--font-style);
}

.head{
    background-color: purple;
    margin-right: 30px;
    margin-left: 30px;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: aliceblue;
}

.head h1{
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 20px;
}

.head ul{
    text-align: right;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
}

.head ul li{
    padding-left: 20px;
    text-decoration: none;
}

.head ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.foot{
    background-color: purple;
    margin-right: 30px;
    margin-left: 30px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: aliceblue;
}

.foot p{
    font-weight: bolder;
    
}

.foot ul{
    text-align: right;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
}

.foot ul li{
    padding-left: 20px;
    text-decoration: none;
}

.foot ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.text{
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
}

#linkedin a{
    transition: 0.5s;
}

#linkedin a:hover{
    color: #0072b1;
    transition: 0.5s;
}

#github a{
    transition: 0.5s;
}

#github a:hover{
    color: black;
    transition: 0.5s;
}

#home a{
    transition: 0.5s;
}

#home a:hover{
    color: orange;
    transition: 0.5s;
}

#mail a{
    transition: 0.5s;
}

#mail a:hover{
    color: red;
    transition: 0.5s;
}

#projects a{
    transition: 0.5s;
    font-weight: bolder;
}

#projects a:hover{
    color: green;
    transition: 0.5s;
}

#blogs a{
    transition: 0.5s;
}

#blogs a:hover{
    color: yellow;
    transition: 0.5s;
}

#fvi{
    transition: 0.5s;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

#fvi:hover{
    color: green;
    transition: 0.5s;
}

#bcis{
    transition: 0.5s;
    font-weight: bolder;
}

#bcis:hover{
    color: blue;
    transition: 0.5s;
}