@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root{
    --font-style: 'Nunito Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: var(--font-style);
}

.navbar{
    background-color: cornflowerblue;
}

.navbar ul{
    text-align: right;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
    float: right;
    padding-right: 25px;
    font-size: 20px;
}

.navbar ul li{
    padding-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.wd{
    background-image: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-bottom: 70px;
}

.wd h1{
    color: white;
    padding-left: 25px;
    padding-top: 30px;
}

.wd img{
    float: right;
    padding-top: 15px;
}

.wd p{
    padding-top: 50px;
    color: white;
    padding-bottom: 40px;
    padding-left: 55px;
    font-size: 20px;
}

.pro1{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 25px;
    border-radius: 30px;
    background-color:antiquewhite;
    fill-opacity: 75%;
    padding: 20px;
    padding-bottom: 25px;
}

.pro1 img{
    float: right;
    border-radius: 25px;
}

.pro1 h2{
    padding-left: 50px;
    padding-top: 50px;
}

.pro1 p{
    padding-left: 80px;
    padding-top: 50px;
}

.buttons{
    padding-left: 400px;
    padding-top: 150px;
}
.lp{
    border-radius: 40px;
    padding: 10px;
    transition: 0.5s;
}

.lp:hover{
    background-color: green;
    color: white;
    transition: 0.5s;
}

.sc{
    border-radius: 40px;
    padding: 10px;
    margin-left: 50px;
    transition: 0.5s;
    margin-right: 40px;
}

.sc:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
}

.pro1 .buttons ul{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
}

.foot{
    background-color: cornflowerblue;
    height: 20px;
    margin-top: 15px;
}

#name{
    color: aliceblue;
    font-size: 25px;
    font-weight: 900;
    padding-left: 25px;
}

#projects{
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
}